/* =============
    Header
============= */
header {
    background-color: $white;
    display: grid;
    grid-template-areas: "button logo" "nav nav";
    grid-template-columns: 20% auto;
    position: fixed;
    top: 0;
    width: 100%;
    @include large {
        grid-template-areas: "nav logo";
        grid-template-columns: 40% auto;
    }

    section {
        grid-area: button;
        padding: 15px 0;
        @include large {
            display: none;
        }

        #burger-container {
            background-color: $white;
            border: none;
            cursor: pointer;
            height: 14px;
            outline: none;
            position: relative;
            width: 20px;

            div {
                background-color: $black;
                height: 3px;
                margin-bottom: 20px;
                position: absolute;
                width: 100%;
            }

            div:nth-child(1) {
                top: 0;
            }

            div:nth-child(2) {
                top: 7px;
            }

            div:nth-child(3) {
                margin: 0;
                top: 14px;
            }
        }
    }

    aside {
        grid-area: logo;
        padding: 10px;
        text-align: right;

        h1 {
            color: $tertiary;
            font-family: 'Satisfy', cursive;
            font-size: rem-calc(20);
            font-weight: 400;
            @include large {
                font-size: rem-calc(35);
            }
        }
    }

    nav {
        display: none;
        grid-area: nav;
        @include large {
            display: block !important;
        }
    }
}
